@use "../abstract/" as *;
@use "../base/" as *;

.carBanner{
    &__wrapper{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    &__text{
        background-color: $clr--red;
        display: flex;
        align-items: center;
        padding: 0 5rem;
        h2{
            color: $clr--light;
            font-family: $font--secondary;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 54px;
            width: 18rem;
        }
    }
    &__img{
        img{
            vertical-align: top;
        }
    }
}
