@use "../abstract/" as *;
@use "../base/" as *;

.carBanner {
  .card {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  
  &__text {
    background-color: $clr--red;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    h2 {
      color: $clr--light;
      font-family: $font--secondary;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 54px;
      width: 18rem;
    }
  }
  &__img {
    img {
      vertical-align: top;
      
    }
  }
}

.box1 {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  &__title {
    h3 {
      color: $clr--light;
      font-weight: normal;
      margin-top: 5rem;
      font-family: $font--secondary;
      padding-bottom: 3rem;
      border-bottom: 4px solid #3e3e43;
      font-size: 24px;
    }
  }
  &__content {
    i {
      color: $clr--light;
      font-size: 50px;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    p {
      color: $clr--light;

      margin-bottom: 3rem;
    }
    a {
      font-size: 24px;
    }
  }
  &__wrapper {
    display: flex;
    gap: 2rem;
    background: #343438;
    padding: 0 5rem;
    padding-bottom: 5rem;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.box2 {
  margin-bottom: 30px;
  &__wrapper {
    background-color: #f8565d;
    padding: 8rem;
  }
  &__title {
    border-bottom: 1px solid #fa858a;
    color: $clr--light;

    padding-bottom: 2rem;
    h3 {
      font-family: $font--secondary;
      font-weight: normal;
      font-size: 46px;
    }
  }
  .cards2 {
    display: flex;
    gap: 3rem;
  }
  &__cards {
    img {
      margin: 3rem 0;
    }
    p {
      color: $clr--light;
      font-size: 18px;
    }
  }
}

.box3 {
  margin-bottom: 30px;
  &__wrapper {
    background-color: #fcf9f1;
  }
  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 8rem;
    padding-bottom: 5rem;
    h3 {
      font-family: $font--secondary;
      font-weight: 1;
      font-size: 46px;
      border-bottom: 1px solid #d9d9db;
      padding-bottom: 1rem;
      margin-bottom: 4rem;
      color: #3e3e43;
    }
    h5 {
      font-family: $font--secondary;
      font-weight: 1;
      font-size: 24px;
      color: #3e3e43;
      border-bottom: 1px solid #d9d9db;
      padding-bottom: 1.5rem;
      margin-bottom: 2rem;
    }

    h6 {
      font-family: $font--secondary;
      font-weight: 1;
      font-size: 18px;
      color: $clr--red;
      border-bottom: 1px solid #d9d9db;
      padding-bottom: 1.5rem;
      margin-bottom: 2rem;
    }
    h4 {
      font-family: $font--secondary;
      font-weight: 1;
      font-size: 24px;
      color: #3e3e43;
      padding-bottom: 1.5rem;
      margin-bottom: 2rem;
    }
  }
}

.box4 {
  margin-bottom: 30px;
  &__wrapper {
    padding: 5rem;
    padding-left: 8rem;
    background-color: #343438;
  }
  .txt1 {
    color: #fff;
    margin-top: 64px;

    h1 {
      font-family: $font--secondary;
      text-transform: uppercase;
      letter-spacing: -4px;
      font-size: 156px;
      font-weight: 1;
      line-height: 0.9;
      margin-bottom: 3rem;
    }
  }
  .appointment {
    display: flex;
    align-items: center;

    a {
      font-size: 28px;
    }
    i {
      color: $clr--light;
      font-size: 40px;
      margin-left: 1rem;
    }
  }
}
