@use "../abstract/" as *;
@use "../base/" as *;

.footer {
  margin-top: 2rem;
  padding-bottom: 2rem;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .part1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 8rem;
    padding-top: 3rem;
    p {
      color: #89888c;
      font-size: 18px;
    }
    ul {
      display: flex;
      margin: 5rem 0;
    }
    ul a {
      color: $clr--light;
      border: 1px solid $clr--light;
      padding: 1rem;
      border-radius: 50%;
    }
  }
  .part1-1 {
    margin-bottom: 3rem;
  }
  .part2{
    iframe{
        width: 100%;
        height: 24rem;
    }
  }
}
